tabset(justified="true")
   tab(heading="Site Administration")

      .btn-group(dropdown is-open='status.isopen')
         button#single-button(type="button", class="btn btn-primary", dropdown-toggle, ng-diabled='disabled') Menu
            span.caret
         ul.dropdown-menu(role="menu", aria-labelledby="single-button")
            li.divider
            li(role="menuitem")
               a(ng-click='showAddAcctForm()') Add Account
            li(role="menuitem")
               a(ng-click='showDelAcctForm()') Delete Account
            li(role="menuitem")
               a(ng-click='showChgPWForm()') Change Password
            li.divider
            li(role="menuitem")
               a(ng-click='showAddEventForm()') Add Event
            li(role="menuitem")
               a(ng-click='showGetEventForm()') View Event


   #alerts

form#addAcct(ng-submit="addAcct()")
   label(for="username1") Username:
   input(type="text" id="username1", placeholder="Username", ng-model="form.username")
   label(for="password") Password:
   input(type="password" id="password", placeholder="Password", ng-model="form.password")
   label(for="acct_type") Account Type:
   select(name='acct_type', ng-model='form.acct_type')
      option(value="private") Private
      option(value="public") Public
   label(for="lang") Language:
   select(name='lang', ng-model='form.lang')
      option(value="da") Danish
      option(value="en") English
   input(type="submit", value="Submit")

form#delAcct(ng-submit='viewAcct()')
   label(for='view_username') Username:
   input(type="text" id="view_username", placeholder="Username", ng-model="form.username")
   input(type="submit", value="Get Acct Info")

#viewAcct
   ul
      li Username: {{ form.username }}
      li Account Type: {{ form.acct_type }}
      li#setId(ng-model='form.id') ID: {{ form.id }}
      li Language: {{ form.lang }}
      button(ng-click='delAcct()') Remove Account


form#chgPW(ng-submit='chgPW()')
   label(for='chg_username') Username:
   input(type="text" id="chg_username", placeholder="Username", ng-model="form.username")
   label(for="chg_password") New Password:
   input(type="password" id="chg_password", placeholder="Password", ng-model="form.new_password")
   label(for="conf_password") Confirm Password:
   input(type="password" id="conf_password", placeholder="Password", ng-model="form.confirm_password")
   input(type="submit", value="Change Password")

form#addEvent(ng-submit='addEvent()')
   label(for='image') Image:
   input(type='text', id='image', placeholder='{{ f.name }}')
   button(type='file', ngf-select='uploadFiles($file)', accept='image/*') Select File
   label(for='meta_tags') Meta:
   input(type='text', id='meta_tags', placeholder='meta info', ng-model='form.meta')
   label(for='event_da') Beskrivelse:
   textarea#event_da(rows='3', placeholder="Event", ng-model="form.event_da")
   label(for='event_en') Description:
   textarea#event_en(rows='3', placeholder="Event", ng-model="form.event_en")
   input(type="submit", value="Post Event")

form#getEvent(ng-submit='viewEvent()')
   label(for='view_event') Event:
   button(type="submit", value="View Event", ng-click='getEventById()') Get Latest Event

#viewEvent
   ul
      li Begivenhed: {{ form.event_da }}
      li Event: {{ form.event_en }}
      li Image: {{ form.image_url }}
      li Created: {{ form.created }}
      #latest
         img(src='./images/{{ form.image_url }}', alt='Latest Event', height='600', widht='400')
