tabset(justified="true")
   tab(heading="Account Admin")

      .btn-group(dropdown is-open='status.isopen')
         button#single-button(type="button", class="btn btn-primary", dropdown-toggle, ng-diabled='disabled') Menu
            span.caret
         ul.dropdown-menu(role="menu", aria-labelledby="single-button")
            li.divider Acct Admin
            li(role="menuitem")
               a(ng-click='addAcct())') Add Account
            li(role="menuitem")
               a(href="#") Delete Account
            li(role="menuitem")
               a(href="#") Change Password
            li.divider Event Admin
               a(ng-click='addAcct())') Add Event
            li(role="menuitem")
               a(href="#") Delete Event
            li(role="menuitem")
               a(href="#") Show Event
            li(role="menuitem")


      nav
         button(ng-click='addAcct()') Add Account
         button(ng-click='delAcct()') Remove Account
         button(ng-click='chgPW()') Change Password
         button(ng-click='addEvent()') Add Event
         button(ng-click='delEvent()') Remove Event
         button(ng-click='showEvent()') Show Event

   form#addAcct(ng-submit="submit()")
      label(for="username") Username:
      input(type="text" id="username", placeholder="Username", ng-model="form.username")
      label(for="password") Password:
      input(type="password" id="password", placeholder="Password", ng-model="form.password")
      label(for="acct_type") Account Type:
      input(type="text" id="acct_type", placeholder="Account Type", ng-model="form.acct_type")
      label(for="lang") Language:
      input(type="text" id="language", placeholder="Language", ng-model="form.lang")
      input(type="submit", value="Submit")
