p {{message}}

.btn-group(dropdown is-open='status.isopen')
    button#single-button(type="button", class="btn btn-primary btn-default", dropdown-toggle, ng-diabled='disabled') Menu
        span.caret
    ul.dropdown-menu(role="menu", aria-labelledby="single-button")
        li(role="menuitem", ng-click='open()') Seneste begivenhed
            a(ng-click=')')
        li(role="menuitem") Kommenter seneste
            a(ng-click='')
        li(role="menuitem") Hent billede
            a(ng-click='')
        li(role="menuitem") Billedkarrussel
            a(ng-click='')
        li(role="menuitem") Søg billede
            a(ng-click='')


div
    script(type="text/ng-template", id="myModalContent.html")
        .modal-header
            p.modal-title {{ event.event_da }}
        .modal-body
            img(src='{{ event.url }}', alt='event', width='450', height='600', download)
        .modal-footer
            p.modal-created Opdateret: {{ event.created.da }}
            button(ng-click='download()') Download
    div(ng-show="selected")
