p {{message}}

.btn-group(dropdown is-open='status.isopen')
    button#single-button(type="button", class="btn btn-primary btn-default", dropdown-toggle, ng-diabled='disabled') Menu
        span.caret
    ul.dropdown-menu(role="menu", aria-labelledby="single-button")
        li.divider
        li(role="menuitem", ng-click='open()') Seneste begivenhed
            a(ng-click=')')
        li(role="menuitem") Item 2
            a(ng-click='')
        li(role="menuitem") Item 3
            a(ng-click='')
        li.divider
        li(role="menuitem") Item 4
            a(ng-click='')
        li(role="menuitem") Item 5
            a(ng-click='')


div
    script(type="text/ng-template", id="myModalContent.html")
        .modal-header
            p.modal-title {{ event.event_da }}!
        .modal-body
            img(src='{{ event.url }}', alt='latest event', width='450', height='600')
        .modal-footer
            p.modal-created {{ event.created }}

    //button.btn.btn-default(type="button", ng-click="open()") Seneste Begivenhed
    //button.btn.btn-default(type='button') Søg i databasen
    //button.btn.btn-default(type='button') Kommenter på seneste begivenhed
    //button.btn.btn-default(type='button') Indlæs egne billeder
    div(ng-show="selected") Selection from a modal: {{ selected }}
