doctype html
html(ng-app='test')
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js")
    script(src='javascripts/angular_app.js')
    base(href='/')
  body
    block content
