doctype html
html(ng-app='myApp', lang='en')
  head
    title= 'nielsen family site'
    meta(name='viewport', content="width=device-width initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    // START BOOTSTRAP REQUIREMENT
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    // START BOOTSTRAP REQUIREMENT

    link(rel='stylesheet' href='/stylesheets/landing-page.min.css')

    // START BOOTSTRAP REQUIREMENT
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    //link(rel="stylesheet" href="vendors/font-awesome.min.css")
    link(href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css")
    script(src="//code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    // START BOOTSTRAP REQUIREMENT

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.js')
    script(src="https://unpkg.com/@reactivex/rxjs/dist/global/Rx.js")


    script(src='vendors/ng-file-upload-shim.min.js')
    script(src='vendors/ng-file-upload.min.js')
    script(src='vendors/ui-bootstrap-tpls.js')


    // SIMPLE ANGULAR TICKER
    script(src="vendors/ticker.js")
    // SIMPLE ANGULAR TICKER


    script(src='javascripts/concatenated_app_file.js')
    base(href='/')
  body
    //
    block content
