body {
  width: 750px;
  margin: auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#addAcct, #delAcct, #chgPW, #addEvent, #viewEvent, #viewAcct {
  display: none;
  margin:20px;
}

form {
  display: table;
  margin:auto;
  border-color: grey;
}

li {
  list-style: none;
}

input{
  display: block;
}

select {
  display:block;
  width: 150px;
}

.btn-group {
  margin:10px;
}